git+https://github.com/huggingface/diffusers
git+https://github.com/huggingface/transformers
sentencepiece
accelerate
torch
torchvision
torchaudio
gradio
spaces
Pillow
tokenizers
numpy
requests
peft
fastapi
uvicorn
